<!doctype html>
<html lang="en">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <li class="navbar-brand" style="color: #386cec" href="#">SWIMmers Medical</li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-nav mr-auto">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/appointments">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/medications">Medications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prescriptions">Prescriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/appt_scripts">Appointment Prescriptions</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">

    <div class="row">
      <div class="col text-left" style="color:black">
        <h1>Appointment Prescriptions</h1>
      </div>
    </div>
    <br>
    <div class="row">

      <table class="table table-striped">
        <thead>
          <tr class="text-center" style="color:#386cec;">
            <th scope="col">Appointment ID</th>
            <th scope="col">Prescription ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Medication Name</th>
          </tr>
        </thead>
        {{#each row}}
        <tbody>
          <tr class="text-center">
            <th scope="row">{{this.appt_id}}</th>
            <td>{{this.script_id}}</td>
            <td>{{this.patient_first}} {{this.patient_last}}</td>
            <td>{{this.doctor_first}} {{this.doctor_last}}</td>
            <td>{{this.medication_name}}</td>
          </tr>

        </tbody>
        {{/each}}
      </table>

    </div>

</html>